In [1]:
# Import libraries
import numpy as np
import pandas as pd
from obspy import read
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import os

In [2]:
# data path = where we store the data, plots and catalogue
data_path = "./data/lunar/training/"
raw_data_path = data_path + "data/S12_GradeA/"
catalogue_path = data_path + "catalogs/apollo12_catalog_GradeA_final.csv"
print(catalogue_path)

./data/lunar/training/catalogs/apollo12_catalog_GradeA_final.csv

In [5]:
df = pd.read_csv(catalogue_path)

In [10]:
filenames = df["filename"]

In [16]:
filenames

0     xa.s12.00.mhz.1970-01-19HR00_evid00002
1     xa.s12.00.mhz.1970-03-25HR00_evid00003
2     xa.s12.00.mhz.1970-03-26HR00_evid00004
3     xa.s12.00.mhz.1970-04-25HR00_evid00006
4     xa.s12.00.mhz.1970-04-26HR00_evid00007
                       ...
71    xa.s12.00.mhz.1974-10-14HR00_evid00156
72    xa.s12.00.mhz.1975-04-12HR00_evid00191
73    xa.s12.00.mhz.1975-05-04HR00_evid00192
74    xa.s12.00.mhz.1975-06-24HR00_evid00196
75    xa.s12.00.mhz.1975-06-26HR00_evid00198
Name: filename, Length: 76, dtype: object

In [24]:
dfs = []
for i in filenames.to_list():
    if os.path.exists(raw_data_path+i+".csv"):
        dfs.append(pd.read_csv(raw_data_path + i + ".csv"))

In [25]:
print(dfs)

[       time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-01-19T00:00:00.665000       0.000000  -6.153279e-14
1          1970-01-19T00:00:00.815943       0.150943  -7.701288e-14
2          1970-01-19T00:00:00.966887       0.301887  -8.396187e-14
3          1970-01-19T00:00:01.117830       0.452830  -8.096155e-14
4          1970-01-19T00:00:01.268774       0.603774  -7.097599e-14
...                               ...            ...            ...
572410     1970-01-20T00:00:02.174434   86401.509434  -1.472713e-14
572411     1970-01-20T00:00:02.325377   86401.660377  -1.956104e-14
572412     1970-01-20T00:00:02.476321   86401.811321  -2.240307e-14
572413     1970-01-20T00:00:02.627264   86401.962264  -2.998405e-14
572414     1970-01-20T00:00:02.778208   86402.113208  -4.465515e-14

[572415 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-03-25T00:00:00.440000       0.000000  -5.481780e-15
1          1970-03-25T00:00:00.590943       0.150943  -6.878653e-15
2          1970-03-25T00:00:00.741887       0.301887  -7.486137e-15
3          1970-03-25T00:00:00.892830       0.452830  -7.191481e-15
4          1970-03-25T00:00:01.043774       0.603774  -6.287278e-15
...                               ...            ...            ...
572406     1970-03-26T00:00:01.345660   86400.905660   8.188906e-16
572407     1970-03-26T00:00:01.496604   86401.056604  -6.852630e-17
572408     1970-03-26T00:00:01.647547   86401.207547  -8.490759e-16
572409     1970-03-26T00:00:01.798491   86401.358491  -1.930016e-15
572410     1970-03-26T00:00:01.949434   86401.509434  -3.466622e-15

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-03-26T00:00:00.565000       0.000000  -2.821246e-14
1          1970-03-26T00:00:00.715943       0.150943  -3.523317e-14
2          1970-03-26T00:00:00.866887       0.301887  -3.859334e-14
3          1970-03-26T00:00:01.017830       0.452830  -3.760071e-14
4          1970-03-26T00:00:01.168774       0.603774  -3.343556e-14
...                               ...            ...            ...
572406     1970-03-27T00:00:01.470660   86400.905660  -4.819739e-15
572407     1970-03-27T00:00:01.621604   86401.056604  -7.116246e-15
572408     1970-03-27T00:00:01.772547   86401.207547  -8.556190e-15
572409     1970-03-27T00:00:01.923491   86401.358491  -1.205768e-14
572410     1970-03-27T00:00:02.074434   86401.509434  -1.862804e-14

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-04-25T00:00:00.196000       0.000000   9.016423e-15
1          1970-04-25T00:00:00.346943       0.150943   1.130571e-14
2          1970-04-25T00:00:00.497887       0.301887   1.234565e-14
3          1970-04-25T00:00:00.648830       0.452830   1.191705e-14
4          1970-04-25T00:00:00.799774       0.603774   1.044928e-14
...                               ...            ...            ...
572410     1970-04-26T00:00:01.705434   86401.509434  -4.555617e-15
572411     1970-04-26T00:00:01.856377   86401.660377  -2.452728e-15
572412     1970-04-26T00:00:02.007321   86401.811321  -1.092859e-15
572413     1970-04-26T00:00:02.158264   86401.962264   1.962790e-16
572414     1970-04-26T00:00:02.309208   86402.113208   2.191474e-15

[572415 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-04-26T00:00:00.660000       0.000000  -1.583565e-16
1          1970-04-26T00:00:00.810943       0.150943  -1.872995e-16
2          1970-04-26T00:00:00.961887       0.301887  -2.007235e-16
3          1970-04-26T00:00:01.112830       0.452830  -1.989497e-16
4          1970-04-26T00:00:01.263774       0.603774  -1.857298e-16
...                               ...            ...            ...
572406     1970-04-27T00:00:01.565660   86400.905660   2.632581e-15
572407     1970-04-27T00:00:01.716604   86401.056604   2.670691e-15
572408     1970-04-27T00:00:01.867547   86401.207547   2.732987e-15
572409     1970-04-27T00:00:02.018491   86401.358491   2.401501e-15
572410     1970-04-27T00:00:02.169434   86401.509434   1.676176e-15

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-06-15T00:00:00.510000       0.000000  -8.042576e-16
1          1970-06-15T00:00:00.660943       0.150943  -9.666565e-16
2          1970-06-15T00:00:00.811887       0.301887  -1.046656e-15
3          1970-06-15T00:00:00.962830       0.452830  -9.966189e-16
4          1970-06-15T00:00:01.113774       0.603774  -8.303573e-16
...                               ...            ...            ...
572413     1970-06-16T00:00:02.472264   86401.962264   4.117540e-17
572414     1970-06-16T00:00:02.623208   86402.113208  -1.010661e-16
572415     1970-06-16T00:00:02.774151   86402.264151  -1.689871e-16
572416     1970-06-16T00:00:02.925094   86402.415094  -2.255296e-16
572417     1970-06-16T00:00:03.076038   86402.566038  -3.225317e-16

[572418 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-06-26T00:00:00.116000       0.000000  -6.727977e-16
1          1970-06-26T00:00:00.266943       0.150943  -8.646711e-16
2          1970-06-26T00:00:00.417887       0.301887  -9.298738e-16
3          1970-06-26T00:00:00.568830       0.452830  -8.589095e-16
4          1970-06-26T00:00:00.719774       0.603774  -7.139047e-16
...                               ...            ...            ...
572418     1970-06-27T00:00:02.832981   86402.716981   5.039820e-17
572419     1970-06-27T00:00:02.983925   86402.867925  -9.191068e-18
572420     1970-06-27T00:00:03.134868   86403.018868  -2.796955e-17
572421     1970-06-27T00:00:03.285811   86403.169811  -9.037156e-17
572422     1970-06-27T00:00:03.436755   86403.320755  -2.439395e-16

[572423 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-07-20T00:00:00.487000       0.000000  -1.462155e-15
1          1970-07-20T00:00:00.637943       0.150943  -1.824771e-15
2          1970-07-20T00:00:00.788887       0.301887  -1.974266e-15
3          1970-07-20T00:00:00.939830       0.452830  -1.886487e-15
4          1970-07-20T00:00:01.090774       0.603774  -1.646714e-15
...                               ...            ...            ...
572406     1970-07-21T00:00:01.392660   86400.905660  -3.375389e-16
572407     1970-07-21T00:00:01.543604   86401.056604  -4.551111e-16
572408     1970-07-21T00:00:01.694547   86401.207547  -5.143100e-16
572409     1970-07-21T00:00:01.845491   86401.358491  -6.834513e-16
572410     1970-07-21T00:00:01.996434   86401.509434  -1.028684e-15

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-07-20T00:00:00.487000       0.000000  -1.462155e-15
1          1970-07-20T00:00:00.637943       0.150943  -1.824771e-15
2          1970-07-20T00:00:00.788887       0.301887  -1.974266e-15
3          1970-07-20T00:00:00.939830       0.452830  -1.886487e-15
4          1970-07-20T00:00:01.090774       0.603774  -1.646714e-15
...                               ...            ...            ...
572406     1970-07-21T00:00:01.392660   86400.905660  -3.375389e-16
572407     1970-07-21T00:00:01.543604   86401.056604  -4.551111e-16
572408     1970-07-21T00:00:01.694547   86401.207547  -5.143100e-16
572409     1970-07-21T00:00:01.845491   86401.358491  -6.834513e-16
572410     1970-07-21T00:00:01.996434   86401.509434  -1.028684e-15

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-09-26T00:00:00.149000       0.000000  -1.743354e-16
1          1970-09-26T00:00:00.299943       0.150943  -1.810003e-16
2          1970-09-26T00:00:00.450887       0.301887  -1.614842e-16
3          1970-09-26T00:00:00.601830       0.452830  -1.344812e-16
4          1970-09-26T00:00:00.752774       0.603774  -1.187775e-16
...                               ...            ...            ...
572418     1970-09-27T00:00:02.865981   86402.716981   3.001847e-16
572419     1970-09-27T00:00:03.016925   86402.867925   1.829159e-16
572420     1970-09-27T00:00:03.167868   86403.018868   1.438250e-16
572421     1970-09-27T00:00:03.318811   86403.169811   1.788944e-16
572422     1970-09-27T00:00:03.469755   86403.320755   2.225782e-16

[572423 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-10-24T00:00:00.504000       0.000000  -2.236897e-15
1          1970-10-24T00:00:00.654943       0.150943  -2.841643e-15
2          1970-10-24T00:00:00.805887       0.301887  -3.104538e-15
3          1970-10-24T00:00:00.956830       0.452830  -2.970101e-15
4          1970-10-24T00:00:01.107774       0.603774  -2.565092e-15
...                               ...            ...            ...
572415     1970-10-25T00:00:02.768151   86402.264151  -4.205158e-15
572416     1970-10-25T00:00:02.919094   86402.415094  -4.243344e-15
572417     1970-10-25T00:00:03.070038   86402.566038  -4.040149e-15
572418     1970-10-25T00:00:03.220981   86402.716981  -4.242346e-15
572419     1970-10-25T00:00:03.371925   86402.867925  -5.050835e-15

[572420 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-11-12T00:00:00.700000       0.000000  -3.699880e-16
1          1970-11-12T00:00:00.850943       0.150943  -4.751873e-16
2          1970-11-12T00:00:01.001887       0.301887  -5.237742e-16
3          1970-11-12T00:00:01.152830       0.452830  -5.016157e-16
4          1970-11-12T00:00:01.303774       0.603774  -4.245308e-16
...                               ...            ...            ...
572406     1970-11-13T00:00:01.605660   86400.905660  -1.177323e-15
572407     1970-11-13T00:00:01.756604   86401.056604  -1.136179e-15
572408     1970-11-13T00:00:01.907547   86401.207547  -1.062667e-15
572409     1970-11-13T00:00:02.058491   86401.358491  -1.009011e-15
572410     1970-11-13T00:00:02.209434   86401.509434  -9.973319e-16

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-12-11T00:00:00.326000       0.000000  -1.441801e-15
1          1970-12-11T00:00:00.476943       0.150943  -1.819018e-15
2          1970-12-11T00:00:00.627887       0.301887  -2.010627e-15
3          1970-12-11T00:00:00.778830       0.452830  -1.971049e-15
4          1970-12-11T00:00:00.929774       0.603774  -1.749685e-15
...                               ...            ...            ...
572410     1970-12-12T00:00:01.835434   86401.509434   2.567136e-17
572411     1970-12-12T00:00:01.986377   86401.660377  -1.609444e-17
572412     1970-12-12T00:00:02.137321   86401.811321   2.355522e-16
572413     1970-12-12T00:00:02.288264   86401.962264   2.307493e-16
572414     1970-12-12T00:00:02.439208   86402.113208  -2.509868e-16

[572415 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-12-27T00:00:00.517000       0.000000  -1.331410e-16
1          1970-12-27T00:00:00.667943       0.150943  -1.546118e-16
2          1970-12-27T00:00:00.818887       0.301887  -1.572069e-16
3          1970-12-27T00:00:00.969830       0.452830  -1.460781e-16
4          1970-12-27T00:00:01.120774       0.603774  -1.284615e-16
...                               ...            ...            ...
572418     1970-12-28T00:00:03.233981   86402.716981  -2.752882e-17
572419     1970-12-28T00:00:03.384925   86402.867925  -4.419541e-17
572420     1970-12-28T00:00:03.535868   86403.018868  -4.561435e-17
572421     1970-12-28T00:00:03.686811   86403.169811  -4.275851e-17
572422     1970-12-28T00:00:03.837755   86403.320755  -4.782716e-17

[572423 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-12-31T00:00:00.339000       0.000000   3.502083e-15
1          1970-12-31T00:00:00.489943       0.150943   4.419662e-15
2          1970-12-31T00:00:00.640887       0.301887   4.752110e-15
3          1970-12-31T00:00:00.791830       0.452830   4.116356e-15
4          1970-12-31T00:00:00.942774       0.603774   2.517291e-15
...                               ...            ...            ...
572406     1971-01-01T00:00:01.244660   86400.905660   6.576949e-15
572407     1971-01-01T00:00:01.395604   86401.056604   5.894074e-15
572408     1971-01-01T00:00:01.546547   86401.207547   4.141338e-15
572409     1971-01-01T00:00:01.697491   86401.358491   2.783696e-15
572410     1971-01-01T00:00:01.848434   86401.509434   2.891910e-15

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-01-15T00:00:00.258000       0.000000  -1.813238e-15
1          1971-01-15T00:00:00.408943       0.150943  -6.975340e-16
2          1971-01-15T00:00:00.559887       0.301887   2.335177e-16
3          1971-01-15T00:00:00.710830       0.452830   1.821918e-16
4          1971-01-15T00:00:00.861774       0.603774  -6.603485e-16
...                               ...            ...            ...
572406     1971-01-16T00:00:01.163660   86400.905660  -4.188665e-17
572407     1971-01-16T00:00:01.314604   86401.056604  -3.584254e-17
572408     1971-01-16T00:00:01.465547   86401.207547  -3.442232e-17
572409     1971-01-16T00:00:01.616491   86401.358491  -3.040052e-17
572410     1971-01-16T00:00:01.767434   86401.509434  -2.131508e-17

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-01-28T00:00:00.234000       0.000000  -6.479758e-16
1          1971-01-28T00:00:00.384943       0.150943  -7.847621e-16
2          1971-01-28T00:00:00.535887       0.301887  -8.317466e-16
3          1971-01-28T00:00:00.686830       0.452830  -7.897640e-16
4          1971-01-28T00:00:00.837774       0.603774  -6.954441e-16
...                               ...            ...            ...
572418     1971-01-29T00:00:02.950981   86402.716981  -1.419117e-16
572419     1971-01-29T00:00:03.101925   86402.867925  -1.990743e-16
572420     1971-01-29T00:00:03.252868   86403.018868  -2.557769e-16
572421     1971-01-29T00:00:03.403811   86403.169811  -3.596733e-16
572422     1971-01-29T00:00:03.554755   86403.320755  -5.126298e-16

[572423 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-01-29T00:00:00.194000       0.000000  -1.157857e-15
1          1971-01-29T00:00:00.344943       0.150943  -1.449560e-15
2          1971-01-29T00:00:00.495887       0.301887  -1.574129e-15
3          1971-01-29T00:00:00.646830       0.452830  -1.516456e-15
4          1971-01-29T00:00:00.797774       0.603774  -1.335914e-15
...                               ...            ...            ...
572418     1971-01-30T00:00:02.910981   86402.716981  -5.722012e-16
572419     1971-01-30T00:00:03.061925   86402.867925  -6.818889e-16
572420     1971-01-30T00:00:03.212868   86403.018868  -7.298424e-16
572421     1971-01-30T00:00:03.363811   86403.169811  -8.727016e-16
572422     1971-01-30T00:00:03.514755   86403.320755  -1.176295e-15

[572423 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-02-09T00:00:00.179000       0.000000   1.408148e-14
1          1971-02-09T00:00:00.329943       0.150943   1.751177e-14
2          1971-02-09T00:00:00.480887       0.301887   1.889360e-14
3          1971-02-09T00:00:00.631830       0.452830   1.802825e-14
4          1971-02-09T00:00:00.782774       0.603774   1.568145e-14
...                               ...            ...            ...
572406     1971-02-10T00:00:01.084660   86400.905660   1.381819e-14
572407     1971-02-10T00:00:01.235604   86401.056604   1.494126e-14
572408     1971-02-10T00:00:01.386547   86401.207547   1.484565e-14
572409     1971-02-10T00:00:01.537491   86401.358491   1.520254e-14
572410     1971-02-10T00:00:01.688434   86401.509434   1.716569e-14

[572411 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-03-25T00:00:00.151000       0.000000  -5.570136e-16
1          1971-03-25T00:00:00.301943       0.150943  -6.476582e-16
2          1971-03-25T00:00:00.452887       0.301887  -6.617868e-16
3          1971-03-25T00:00:00.603830       0.452830  -6.158054e-16
4          1971-03-25T00:00:00.754774       0.603774  -5.431715e-16
...                               ...            ...            ...
572422     1971-03-26T00:00:03.471755   86403.320755  -8.207809e-17
572423     1971-03-26T00:00:03.622698   86403.471698  -1.511167e-16
572424     1971-03-26T00:00:03.773642   86403.622642  -2.149063e-16
572425     1971-03-26T00:00:03.924585   86403.773585  -2.876449e-16
572426     1971-03-26T00:00:04.075528   86403.924528  -3.768674e-16

[572427 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-04-17T00:00:00.387000       0.000000  -1.220073e-13
1          1971-04-17T00:00:00.537943       0.150943  -1.526117e-13
2          1971-04-17T00:00:00.688887       0.301887  -1.663349e-13
3          1971-04-17T00:00:00.839830       0.452830  -1.604001e-13
4          1971-04-17T00:00:00.990774       0.603774  -1.406912e-13
...                               ...            ...            ...
572413     1971-04-18T00:00:02.349264   86401.962264   4.456722e-15
572414     1971-04-18T00:00:02.500208   86402.113208  -2.265237e-14
572415     1971-04-18T00:00:02.651151   86402.264151  -3.315773e-14
572416     1971-04-18T00:00:02.802094   86402.415094  -3.982893e-14
572417     1971-04-18T00:00:02.953038   86402.566038  -5.556960e-14

[572418 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-05-12T00:00:00.712000       0.000000  -6.579815e-16
1          1971-05-12T00:00:00.862943       0.150943  -8.333763e-16
2          1971-05-12T00:00:01.013887       0.301887  -9.389561e-16
3          1971-05-12T00:00:01.164830       0.452830  -9.307208e-16
4          1971-05-12T00:00:01.315774       0.603774  -8.207080e-16
...                               ...            ...            ...
572402     1971-05-13T00:00:01.013887   86400.301887  -4.352553e-16
572403     1971-05-13T00:00:01.164830   86400.452830  -6.182356e-16
572404     1971-05-13T00:00:01.315774   86400.603774  -7.570110e-16
572405     1971-05-13T00:00:01.466717   86400.754717  -9.248588e-16
572406     1971-05-13T00:00:01.617660   86400.905660  -1.164499e-15

[572407 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-05-12T00:00:00.712000       0.000000  -6.579815e-16
1          1971-05-12T00:00:00.862943       0.150943  -8.333763e-16
2          1971-05-12T00:00:01.013887       0.301887  -9.389561e-16
3          1971-05-12T00:00:01.164830       0.452830  -9.307208e-16
4          1971-05-12T00:00:01.315774       0.603774  -8.207080e-16
...                               ...            ...            ...
572402     1971-05-13T00:00:01.013887   86400.301887  -4.352553e-16
572403     1971-05-13T00:00:01.164830   86400.452830  -6.182356e-16
572404     1971-05-13T00:00:01.315774   86400.603774  -7.570110e-16
572405     1971-05-13T00:00:01.466717   86400.754717  -9.248588e-16
572406     1971-05-13T00:00:01.617660   86400.905660  -1.164499e-15

[572407 rows x 3 columns],        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1971-05-13T00:00:00.183000       0.000000  -7.861305e-16
1          1971-05-13T00:00:00.333943       0.150943  -1.002457e-15
2          1971-05-13T00:00:00.484887       0.301887  -1.090702e-15
3          1971-05-13T00:00:00.635830       0.452830  -1.030561e-15
4          1971-05-13T00:00:00.786774       0.603774  -8.714837e-16
...                               ...            ...            ...
572406     1971-05-14T00:00:01.088660   86400.905660  -1.019700e-16